<!doctype html>
{% spaceless %}
<html class="no-js" ng-app="mwApp" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Memory Walls</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    {#% stylesheets
        'bundles/Sk/bower_components/jquery-ui/themes/base/core.css'
        'bundles/Sk/bower_components/jquery-ui/themes/base/slider.css'
        'bundles/Sk/styles/css/main.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %#}

    <link rel="stylesheet" href="../web/bundles/Sk/bower_components/jquery-ui/themes/base/core.css">
    <link rel="stylesheet" href="../web/bundles/Sk/bower_components/jquery-ui/themes/base/slider.css">
    <link rel="stylesheet" href="../web/bundles/Sk/styles/css/main.css">

    {% javascripts
    'bundles/Sk/bower_components/modernizr/modernizr.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
        <div ng-view class="view-frame"></div>
    </div>

    {#<script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>#}

    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/Sk/bower_components/es5-shim/es5-shim.js') }}"></script>
    <script src="{{ asset('bundles/Sk/bower_components/json3/lib/json3.js') }}"></script>
    <![endif]-->

    {# dependecies #}
    {#'bundles/Sk/bower_components/requirejs/require.js'#}
    <script src='../web/bundles/Sk/dist/js/vendors.js'></script>
    <script src='../web/bundles/Sk/dist/js/app.js'></script>
    {# {% javascripts

    'bundles/Sk/bower_components/jquery/dist/jquery.js'
    'bundles/Sk/bower_components/jquery-ui/ui/core.js'
    'bundles/Sk/bower_components/jquery-ui/ui/widget.js'
    'bundles/Sk/bower_components/jquery-ui/ui/mouse.js'
    'bundles/Sk/bower_components/jquery-ui/ui/slider.js'
    'bundles/Sk/bower_components/jquery-ui/ui/selectmenu.js'
    'bundles/Sk/bower_components/es5-shim/es5-shim.js'
    'bundles/Sk/bower_components/angular/angular.js'
    'bundles/Sk/bower_components/angular-route/angular-route.js'
    'bundles/Sk/bower_components/angular-resource/angular-resource.js'
    'bundles/Sk/bower_components/angular-sanitize/angular-sanitize.js'
    'bundles/Sk/bower_components/json3/lib/json3.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %} #}

    {# the app #}
    {# {% javascripts
    'bundles/Sk/app/*.js'
    'bundles/Sk/app/core/*.js'
    'bundles/Sk/app/memoryWall/*.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %} #}

</body>
</html>
{% endspaceless %}
